{% extends 'events/base.html' %}

{% block content %}


{% if user.is_authenticated %}

        <center>
        <h1>Add venues to database</h1>

        <br>
        <br>
        {% if submitted %}
           Your  venue was submitted successfully!!! 
        {%else%}


       

            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" class="btn btn-success">
            </form>
            {% endif %}
        </center>

{% else %}

<p>Soryy You must be logged In</p>
<a class="nav-link" href="{%url  'login'%}">login Here</a>


{% endif %}

{% endblock %}